<div class="about">
	<div>
	<img class="profile-pic" alt="Philip Moy" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAANWAAAAJDA4MzNmMjMwLTg0NWQtNDEwZC1hZmVhLTNhNDQ2YjFmNjY3ZA.jpg">
		</div>
	<div class='col-body'>
	<p>Hello, I am Philip Moy and I enjoy analyzing data on my spare time. I like to learn more about machine learning and really appreciate pretty data visualizations.</p>
	<p>I currently reside in Queens, NY as a data analyst for New York City's Department of Finance. 
When I am not analyzing data on my free time I am exercising, playing/watching sports, or traveling.</p>
	
	<p>Feel free to contact me for anything data or non-data related!</p>
	</div>
</div>
