<div class="buzzfeed">
<p>Hello, I am Philip Moy and I will running "select education, experience, skills, projects from tbl.Philip_Moy" (corny joke, sorry)
  to show why I am a good fit for BuzzFeed's Data Scientist position.</p>

<p>First off a little about myself. I was trained to be an Industrial Engineer. It has been drilled
in my head to be efficient with any tasks I do. A simple example, instead of opening the fridge a million times
to make my dinner; open it once and take everything I need. Later on I developed an interest in coding because
I can make a computer automate all my tedious manual tasks in a faster manner while I spend my time on the juicy part, analyzing data.
Later on in my career, I joined a data science school to learn the basics I needed to be efficient.
In result, I am now a data analyst for NYC Department of Finance. (Oh yea.. I like sports, exercising, awesome deals, traveling, and tv shows.)</p>

<p>In this paragraph I will showcase my skills and experiences that relate to the position.
At my current position I have many names: Phil, data guy, or data guru. I created and manage a database
that I use for automating reports, creating dashboards, generating metrics, running basic queries, and analytical work. 
I am a heavy SQL and python user. Most of my python code was developed for automating ETL processes.
Since my current job doesn't demand machine learning; I have done a few personal projects that relate to it.
There is my Lending Club project where I use a classification model to classify if a loan will default or not. Also,
my Ames Housing Analysis where I trained a regression model to predict the price of a given house.
I am a big believer that machine learning does not solve every problem. Most problems require a lot of research and digging through the data for answers.
</p>

<p>My skills and experiences can help BuzzFeed be better for the readers and to help BuzzFeed continue to grow.
  I thank you for taking the time to read this and hope to meet you in person.</p>

<p>-Philip Moy</p>
<br>
<br>


<p>P.S. Here's the TLDR version:</p>
<ul class="tldr">
<li>Name: Philip Moy</li>
<li>Education: Industrial Engineering/Data Science</li>
<li>Likes: Sports, exercising, awesome deals, and sometimes the stock market</li>
<li>Why hire Phil: He has experience in Python, R, SQL and analyzing vast amount of data to help answer business questions
that in turn can help BuzzFeed.</li>
</ul>

</div>
